.dialog-label {
    -fx-background-color: #98FB98;
    -fx-border-color: #006400;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-padding: 8 12 8 12;
}

.reply-label {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

/* Ai generated error-label for css styling of error (red) dialog box */
.error-label {
    -fx-background-color: #ff4d4d;
    -fx-text-fill: white;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

