.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    -fx-background-image: url("../images/tomato_bg.jpg"); /* Set image from https://unsplash.com/photos/red-cherry-fruits-on-pink-surface-3T4rfR_XZf0 */
    -fx-background-size: stretch;
}

.text-field {
    -fx-background-color: #d9ffe2;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #98FB98;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: #0FFF50;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: #008080;
    -fx-font-size: 20px;
}

.scroll-pane {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #006400;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

